* {
    margin: 0rem;
}


.background-img {
    background-image: url("../images/grass2.jpeg");
    padding: 5rem;
    color: white;
    font-size: 50px;
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.myframe  {
    margin: 3rem;
    width: 720px;
    height: 405px;
}

#player {
    display: block;
    margin: auto;
}

.controls {    
    margin-top: 2rem;
    text-align: center;
}

button {
    color: white;
    background-color: #66BDD9;
    padding: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: large;
    
}

button:hover {
    background-color: #29A0D9;
    transition: background-color 1s ease-out;
    animation: transform 1s ease-in-out;
    animation-fill-mode: forwards;
}

.layout2, .myframe {
    display: block;
    margin: auto;
    border-radius: 2rem;
}

#info {
    margin-top: 3rem;
    height: 500px;
}

@keyframes transform {
    0%{
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0.5rem);
    }
}